<iframe width="560" height="315" src="https://www.youtube.com/embed/nK8dMGXt0Ws?rel=0" frameborder="0" allowfullscreen></iframe>
<h1>캐러밴 - 술탄 오브 더 디스코</h1> <br>
<p>그저 사막을 지나 간다 덥다<br>
사랑찾아 끝없이 간다 꽤 덥다<br>
사막이 끝이 나면 올까 내사랑<br>
기대조차 버겁다 아직도 뜨겁다<br>
뜨거운 태양을 등지고 걷다보면<br>
끝없는 모래밭 언젠가 사라질까<br>
희망은 신기루로 끝나버리고<br>
무수한 별자릴 의지해 걷다보면<br>
푸른 오아시스엔 내 사랑 있을까<br>
사막이 끝이 나고 초원이<br>
나오면 있을까<br>
단 한톨 희망도 버리지 말아야지<br>
그리움을 떨칠 곳을 찾아 걷는다<br>
어떻게도 표현할 방법이<br>
없어 예예예<br>
나의 몸이 불타오른대도<br>
이 모든게 날아가 버려도<br>
그대만을 찾는 내 마음은<br>
그저 사막을 지나 간다 덥다<br>
사랑찾아 끝없이 간다 꽤덥다<br>
사막이 끝이 나면 올까 내사랑<br>
기대조차 버겁다 아직도 뜨겁다<br>
기약없이 걸어도 기대는<br>
커지는데<br>
정작 내 신발 속 모래만 쌓여가고<br>
가슴 속 깊숙이엔 무엇도 남질<br>
않는구나<br>
어떻게도 표현할 방법이<br>
없어 예예예<br>
나의 몸이 불타오른대도<br>
이 모든게 날아가 버려도<br>
그대만을 찾는 내 마음은<br>
그저 사막을 지나 간다 덥다<br>
사랑찾아 끝없이 간다 꽤덥다<br>
사막이 끝이 나면 올까 내사랑<br>
기대조차 버겁다 아직도 뜨겁다<br>
그래도<br>
그래도<br>
뜨거워 쓰러진 뜨거운 태양아<br>
지겨워 쓰러진 끝없는<br>
모래밭이여<br>
날아가 사라진 그대를 향한<br>
내 마음 어떤 미련도 없이<br>
그저 걸을뿐 예<br>
어떻게도 표현할 방법이<br>
없어 예예예<br>
나의 몸이 불타오른대도<br>
이 모든게 날아가 버려도<br>
그대만을 찾는 내 마음은<br>
그저 사막을 지나 간다 덥다<br>
사랑찾아 끝없이 간다 꽤 덥다<br>
사막이 끝이 나면 올까 내사랑<br>
기대조차 버겁다 아직도 뜨겁다<br>
그저 사막을 지나 간다 덥다<br>
사랑찾아 끝없이 간다 꽤 덥다<br>
사막이 끝이 나면 올까 내사랑<br>
기대조차 버겁다 아직도 뜨겁다</p>
